<%= form_with(model: train, local: true) do |form| %>
<%= render 'common/errors', resource: train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :train_number %>
  </div>

  <div class="field">
    <%= form.label :sorting_wagons, 'Сортировка вагонов' %>
    <%= form.select :sorting_wagons, [["С головы поезда", true], ["С хвоста поезда", false]] %>
  </div>

  <div class="field">
    <%= form.label :route_id, 'Route' %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
